@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap");
#CK-bg {
  background-color: #80989D;
}

#CK-dk {
  background-color: #557379;
}

#CK-lt {
  background-color: #557379;
}

#CK-txt {
  background-color: #80989D;
}

#CP-bg {
  background-color: #7700a6;
}

#CP-dk {
  background-color: #580479;
}

#CP-lt {
  background-color: #510170;
}

#CP-txt {
  background-color: #00e1f1;
}

body {
  background-color: #7700a6;
  color: #00e1f1;
  font-family: "Noto Sans", sans-serif;
}

.cypun-alt--text {
  color: #ff4b4b;
}

.astro-tray {
  width: 27rem;
  display: flex;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.col-last {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.row {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  display: flex;
  justify-items: space-around;
}

.day-of-week {
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
}

.conditions-symbol {
  font-weight: 900;
}

.text--white {
  color: #ffffff;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.themetray-layout {
  display: flex;
  align-items: end;
  justify-content: space-between;
  min-width: 32rem;
  border: 1px solid;
  border-color: #ecfd00;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 15px;
  background-color: #464646;
  color: white;
  overflow: hidden;
  max-height: 7rem;
}

.themetray-item {
  border-right: 1px solid white;
  height: 100%;
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.themetray-item-last {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.themetray-selected {
  border-right: 1px solid white;
  height: 100%;
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  background-color: #333333;
}

.themetray-item:hover {
  background-color: #333333;
  cursor: pointer;
}

.themetray-item-last:hover {
  background-color: #333333;
  cursor: pointer;
}

.theme-colors-holder {
  display: grid;
  grid-template-areas: "color1 color2" "color3 color4";
  grid-gap: 5px;
  padding: 10px;
}

.color-square {
  border: 1px solid white;
  min-width: 25px;
  border-radius: 5px;
}

.clocktray-layout {
  display: flex;
  justify-content: center;
}

.clock-padding {
  padding-left: 100px;
  padding-right: 100px;
}

.component-border {
  border: 1px solid;
  border-color: #ecfd00;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 15px;
  background-color: #580479;
}

.horizontal-layout-child-padding {
  padding: 20px;
}

.top-row-layout {
  display: flex;
  justify-content: space-around;
}

.social-icons-spacing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.side-container-top-margin {
  margin-top: 7rem;
}

.notepad {
  margin-top: 4rem;
  height: 32rem;
  color: yellow;
}

.side-component {
  height: 23rem;
  overflow: hidden;
}

.bold-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.underline-text {
  text-decoration: underline;
}

.social-icon-size-constraint {
  max-width: 40px;
}

.gmail-icon-sizing-exception {
  max-width: 50px;
}

.bottom-align {
  align-self: flex-end;
}/*# sourceMappingURL=basic-styles.css.map */